.canvas-section {
  flex-grow: 1;

  .canvas-container {
    position: relative;
    width: $canvas-container-width;
    height: 80dvh;

    border: 2px solid $canvas-border-clr;
    margin: auto;

    background-color: $canvas-bg-clr;
    cursor: url(public/assets/img/brush-icon.png), auto;

    @include for-narrow-layout {
      width: 100vw;
      height: calc(100dvh - $app-header-height);
      border: none;
      border-block-start: 2px solid $canvas-border-clr;
      border-inline-start: 2px solid $canvas-border-clr;
    }

    &.shape {
      cursor: cell;
    }

    &.hovering {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }
}
