.canvas-header {
  @include pageHeader;

  .logo {
    cursor: pointer;
  }

  &.dark {
    .btns-container {
      button {
        &::before {
          color: $secondary-font-clr;
        }
      }
    }
  }

  .btns-container {
    gap: 15px;

    button {
      background-color: transparent;

      &::before {
        font-size: em(16px);
        font-family: faSolid;
        transition: color $theme-transition;
        color: $main-font-clr;
      }

      &.btn-home {
        &::before {
          content: '\f015';
        }
      }

      &.btn-settings {
        &::before {
          content: '\f013';
        }
      }
    }
  }
}
