.canvas-controls {
  position: absolute;
  inset: 0 auto auto 50%;

  align-items: stretch;
  gap: 10px;

  padding: 20px 40px;
  border: 1px solid $controls-border-clr;
  border-radius: $controls-border-radius;

  background-color: $main-theme-clr;
  box-shadow: $controls-shadow;
  transform: translate(-50%, 100%);
  transition: background-color $theme-transition, gap 0.3s;

  z-index: 1;
  cursor: default;

  @include for-narrow-layout {
    inset: 50% auto auto 0;
    flex-direction: column;
    align-items: center;

    padding: 20px 10px;
    border-radius: 0px;
    border-top-right-radius: $controls-border-radius;
    border-bottom-right-radius: $controls-border-radius;

    transition: all $theme-transition;
    transform: translate(0, -50%);

    &.drawing {
      opacity: 0.5;
      transform: translate(-70%, -50%);
    }

    &:not(.drawing):hover {
      padding-inline-end: 10px;
    }

    .btn {
      &:is(.btn-shape, .btn-size, .btn-rotate, .btn-color) {
        &.gap {
          margin-inline-end: 0;
          margin-block-end: $controls-sections-gap;
        }
      }
    }
  }

  @include for-small-layout {
    padding: 10px 5px;

    .btn {
      &:is(.btn-shape, .btn-size, .btn-rotate, .btn-color) {
        &.gap {
          margin-block-end: 0;
        }
      }
    }
  }

  &.dark {
    background-color: $dark-theme-clr;

    &:hover {
      .btn {
        &:has(+ .btn:not(:disabled, .btn-remove):hover):not(:disabled, .btn-remove) {
          @include hoveredBtn(1.15, $dark-theme-clr-5);
        }

        &:hover:not(:disabled, .btn-remove) {
          @include hoveredBtn(1.3, $dark-theme-clr-20);

          & + .btn:not(:disabled, .btn-remove) {
            @include hoveredBtn(1.15, $dark-theme-clr-5);
          }
        }
      }
    }
  }

  &:hover {
    gap: 15px;

    .btn {
      &:has(+ .btn:not(:disabled, .btn-remove):hover):not(:disabled, .btn-remove) {
        @include hoveredBtn(1.15, $main-theme-clr--5);
      }

      &:hover:not(:disabled, .btn-remove) {
        @include hoveredBtn(1.3, $main-theme-clr-20);

        & + .btn:not(:disabled, .btn-remove) {
          @include hoveredBtn(1.15, $main-theme-clr--5);
        }
      }
    }
  }

  .btn {
    @include controlBtn;
    background-color: $control-btn-bg-clr;

    &::before {
      font-size: em(14px);
      font-family: FaSolid;

      @include for-small-layout {
        font-size: em(12px);
      }
    }

    &.btn-pen {
      &::before {
        content: '\f1fc';
      }
    }

    &.btn-shape {
      &.square {
        &::before {
          content: '\f0c8';
        }
      }

      &.ellipse {
        &::before {
          content: '\f111';
        }
      }
    }

    &.btn-size {
      &.plus {
        &::before {
          content: '\2b';
        }
      }

      &.minus {
        &::before {
          content: '\f068';
        }
      }
    }

    &.btn-rotate {
      &.right {
        &::before {
          content: '\f01e';
        }
      }

      &.left {
        &::before {
          content: '\f0e2';
        }
      }
    }

    &.btn-color {
      position: relative;
      padding: 0;

      label {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;

        &::before {
          content: '\f55d';

          position: absolute;
          top: 50%;
          left: 50%;

          font-size: em(14px);
          font-family: faSolid;
          transform: translate(-50%, -50%);

          @include for-small-layout {
            font-size: em(12px);
          }
        }
      }

      input {
        position: absolute;
        top: 50%;

        opacity: 0;
        z-index: -1;
      }

      &.brush {
        label {
          &::before {
            content: '\f55d';
          }
        }
      }

      &.fill {
        label {
          &::before {
            content: '\f575';
          }
        }
      }
    }

    &.btn-remove {
      background-color: $remove-btn-bg-clr;

      &::before {
        color: $secondary-font-clr;
        content: '\f12d';
      }

      &:hover {
        background-color: darken($remove-btn-bg-clr, 20%);
      }
    }

    &.btn-clear {
      background-color: $main-font-clr;

      &::before {
        color: $secondary-font-clr;
        content: '\f1f8';
      }

      &:hover {
        background-color: lighten($main-font-clr, 10%);
      }
    }

    &.gap {
      margin-inline-end: $controls-sections-gap;
    }

    &.selected {
      border-width: 2px;
      background-color: $secondary-font-clr;
      box-shadow: $selected-btn-shadow;
    }
  }
}
