.canvas-section {
  position: relative;

  .canvas-container {
    width: $canvas-container-width;
    height: 80dvh;

    border: 2px solid $canvas-border-clr;
    background-color: white;
    cursor: url(public/assets/img/brush-icon.png), auto;

    &.shape {
      cursor: cell;
    }

    &.hovering {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }
}
