.canvas-section {
  position: relative;

  .canvas-container {
    width: $canvas-container-width;
    height: 80dvh;

    border: 1px solid $canvas-border-clr;
    margin-block-start: 20px;
    background-color: white;
  }
}
