.home-page {
  @include fullPageDimensions;
  padding-inline: calc((100vw - $canvas-container-width) / 2);

  .heading-container {
    width: 50vw;
    gap: 20px;
    margin-block-end: 40px;
    text-align: center;

    .main-heading {
      font-size: em(36px);
      font-family: $heading-font-family;
      letter-spacing: -0.2px;

      .logo {
        @include logo(1em);
      }
    }

    .secondary-heading {
      font-size: em(24px);
    }
  }

  .btn-cta {
    padding: 15px 30px;
    border-radius: 2em;

    font-size: em(16px);
    color: $secondary-font-clr;

    background-color: $main-theme-clr;
    transition: background-color 0.3s;

    &:hover {
      background-color: $main-theme-clr-10;
    }
  }
}
