.home-page {
  @include fullPageDimensions;
  background-color: $light-page-bg-clr;
  background: $light-page-gradient;
  transition: all $theme-transition;

  @include darkMode {
    .hero-section {
      .main-content {
        .heading-container {
          .main-heading {
            .logo {
              span {
                color: $dark-theme-clr;
              }
            }
          }
        }

        .btn-cta {
          background-color: $dark-theme-clr;

          &:hover {
            background-color: $dark-theme-clr-10;
          }
        }
      }
    }
  }

  .hero-section {
    flex-grow: 1;

    .main-content {
      flex-grow: 1;
      gap: 30px;

      .heading-container {
        width: 75vw;
        gap: 20px;
        text-align: center;

        .main-heading {
          font-size: em(48px);
          font-family: $heading-font-family;
          line-height: 1em;
          letter-spacing: -0.2px;

          .logo {
            @include logo(1em);
          }
        }

        .secondary-heading {
          font-size: em(24px);
          line-height: 1.5em;
        }
      }

      .btn-cta {
        padding: 15px 30px;
        border-radius: 2em;

        font-size: em(16px);
        color: $secondary-font-clr;

        background-color: $main-theme-clr;
        transition: background-color $theme-transition;

        &:hover {
          background-color: $main-theme-clr-10;
        }
      }
    }

    .hero-img {
      transform: translateY(18px);
    }
  }
}
