@mixin for-narrow-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-small-layout {
  @media (max-width: $break-small) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

@mixin fullPageDimensions {
  height: 100dvh;
  overflow-y: hidden;
}

@mixin logo($size: em(32px)) {
  font-size: $size;
  font-family: $heading-font-family;

  span {
    color: $main-theme-clr;
  }
}

@mixin controlBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: em(36px);
  height: em(36px);

  border: 1px solid $control-btn-border-clr;
  border-radius: $controls-border-radius;
  transition: all 0.15s ease-in-out;

  &:active {
    scale: 0.95;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    scale: (0.9);
  }

  @include for-mobile-layout {
    width: em(28px);
    height: em(28px);
  }
}

@mixin hoveredBtn($scale, $bgc) {
  background-color: $bgc;
  transform-origin: 50% 100%;
  transform: scale($scale) translateY(-1px);

  @include for-narrow-layout {
    transform-origin: -100% 50%;
  }
}

@mixin pageHeader {
  height: $app-header-height;
  padding-inline: calc((100vw - $canvas-container-width) / 2);

  &.dark {
    .logo {
      span {
        color: $dark-theme-clr;
      }
    }
  }

  .logo {
    @include logo;

    @include for-small-layout {
      font-size: em(22px);
    }
  }
}

@mixin darkMode {
  position: relative;

  // For transition the gradient background
  &::before {
    content: '';
    position: absolute;
    inset: 0;

    background: $dark-page-gradient;
    background-color: $dark-page-bg-clr;

    transition: opacity $theme-transition;
    z-index: -1;
    opacity: 0;
  }

  &.dark {
    color: $secondary-font-clr;

    &::before {
      opacity: 1;
    }

    @content;
  }
}
