// @mixin for-normal-layout {
//   @media (max-width: $break-normal) {
//     @content;
//   }
// }

// @mixin for-narrow-layout {
//   @media (max-width: $break-narrow) {
//     @content;
//   }
// }

// @mixin for-small-layout {
//   @media (max-width: $break-small) {
//     @content;
//   }
// }

// @mixin for-mobile-layout {
//   @media (max-width: $break-mobile) {
//     @content;
//   }
// }
