// @mixin for-normal-layout {
//   @media (max-width: $break-normal) {
//     @content;
//   }
// }

// @mixin for-narrow-layout {
//   @media (max-width: $break-narrow) {
//     @content;
//   }
// }

// @mixin for-small-layout {
//   @media (max-width: $break-small) {
//     @content;
//   }
// }

// @mixin for-mobile-layout {
//   @media (max-width: $break-mobile) {
//     @content;
//   }
// }

@mixin fullPageDimensions {
  height: 100dvh;
  overflow-y: hidden;
}

@mixin logo($size: em(32px)) {
  font-size: $size;
  font-family: $heading-font-family;

  span {
    color: $main-theme-clr;
  }
}

@mixin controlBtn {
  border: 1px solid $control-btn-border-clr;
  border-radius: $controls-border-radius;
  transition: all 0.15s ease-in-out;

  &:active {
    scale: 0.95;
  }

  &:disabled {
    cursor: not-allowed;
    scale: (0.9);
  }
}

@mixin hoveredBtn($scale, $bgc) {
  transform-origin: 50% 100%;
  transform: scale($scale) translateY(-1px);
  background-color: $bgc;
}

@mixin pageHeader {
  height: $app-header-height;
  padding-inline: calc((100vw - $canvas-container-width) / 2);
  background-color: $light-page-bg-clr;

  .logo {
    @include logo;
  }
}
