@font-face {
  font-family: MontserratRegular;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: faRegular;
  src: url(/assets/fonts/Fa/fa-regular-400.ttf);
}

@font-face {
  font-family: faSolid;
  src: url(/assets/fonts/Fa/fa-solid-900.ttf);
}
