@font-face {
  font-family: MontserratRegular;
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
