$surface-clr: rgb(236, 239, 248);
$main-font-clr: rgb(50, 51, 56);

$main-font-family: MontserratRegular;
$heading-font-family: MontserratBold;

$app-header-height: 50px;
$canvas-container-width: 95vw;

$canvas-border-clr: rgb(102, 102, 102);

$clr-success: rgb(152, 232, 152);
$clr-error: rgb(243, 150, 150);

// $break-mobile: 450px;
// $break-small: 600px;
// $break-narrow: 750px;
// $break-normal: 1000px;
