$surface-clr: rgb(236, 239, 248);
$main-font-clr: rgb(50, 51, 56);

$main-font-family: MontserratRegular;
$heading-font-family: MontserratBold;

$app-header-height: 50px;
$canvas-container-width: 95vw;

$main-theme-clr: #2d8936;
$main-theme-clr-10: #2ebd3d;
$secondary-theme-clr: rgb(34, 88, 145);

$canvas-border-clr: rgb(102, 102, 102);
$controls-border-clr: rgb(150, 150, 150);

$controls-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.357);
$controls-border-radius: 5px;

$clr-success: rgb(152, 232, 152);
$clr-error: rgb(243, 150, 150);

// $break-mobile: 450px;
// $break-small: 600px;
// $break-narrow: 750px;
// $break-normal: 1000px;
