.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }
}
