.app-header {
  @include pageHeader;

  .guest-container {
    gap: 15px;

    .greeting-msg {
      font-size: em(18px);

      @include for-small-layout {
        font-size: em(12px);
      }
    }
  }
}
