.dynamic-tooltip {
  position: absolute;
  transform: translate(-50%, -140%);
  white-space: nowrap;

  padding: 7px 14px;
  border-radius: $controls-border-radius;

  font-size: em(14px);
  color: $secondary-font-clr;
  line-height: em(22.5px);

  background-color: $main-font-clr;
  --animate-duration: 0.3s;
  box-shadow: $tooltip-shadow;
  z-index: 1;

  &.static {
    transform: translate(-50%, -120%);
  }

  &::after {
    content: '';
    position: absolute;
    inset: 100% 0 auto 50%;

    width: 0;
    height: 0;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $main-font-clr;

    transform: translate(-50%, 0px);
  }
}
